<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobres</title>

    <link rel="stylesheet" href="../../style.css">
    <script src="../../shared/js/pokemon-common.js"></script>
    <script src="../../shared/js/sobres.js" defer></script>
</head>
<body>
    <div class="app-container">
        
        <main class="content-section">
            <section id="open-pack-section" class="page-section">
                <h1>Abrir un Sobre</h1>
                <img class="imagenSobre" src="../../assets/img/sobrePokemon.png" alt="Sobre Cartas Pokemon" width="200" height="250">
                <button id="open-pack-button" class="action-button">¡Abrir Sobres!</button>
                <div id="pack-results" class="pack-results-grid"></div>
            </section>
        </main>
        <nav class="bottom-nav">
            <a href="../../index.html" id="nav-index" class="nav-button">
                <i class="fas fa-list"></i> <span>Índice</span>
            </a>
            <a href="sobres.html" id="nav-open-pack" class="nav-button active">
                <i class="fas fa-box-open"></i> <span>Abrir Sobre</span>
            </a>
            <a href="../trade/trade.html" id="nav-trade" class="nav-button">
                <i class="fas fa-exchange-alt"></i> <span>Intercambiar</span>
            </a>
        </nav>
    </div>

</body>
</html>